body{
    overflow-x: hidden;
}
nav{
    display: flex;
    align-items: center;
    background-color: darkred;
position: fixed;
width: 100%;
transition: 800ms;
color: white;
z-index: 1;
top: 0;
}
header{
    background-color: darkred;
    color: white;
}
.contenitore_header{
    align-items: center;
}
img{
    height: 100%;
    width: 100%;
}
.frase{
    align-items: end;
}
.numeri{
    background-color: darkred;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: 100px;
    font-size: 25px;
    margin-top: 100px;
}
.navbar{
border: 1px solid black;
position: fixed;
width: 90%;
margin-left: 5%;
margin-right: 5%;
margin-top: 20px;
background-color: rgba(139, 0, 0, 0.329);
backdrop-filter: blur(5px);
border-radius: 50px;
}
.header_button{
    background-color: yellow;
    border: 0;
    position: relative;
}
.img_card{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 45%;
}
.card{
    background-color: darkred;
    color: white;
    border: 1px solid rgb(255, 255, 0);
    width: 18rem;
    margin-top: 30px;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55%;
}
.btn_card{
    border: 1px solid white;
    color: white;
    background-color: darkred;
    border-radius: 5px;
    
}
.btn_card:hover{
    color: black;
    background-color: yellow;
    border: 1px solid black;
    transition: 0.3s;
    font-weight: 500;
}
.panino{
    height: 40px;
    width: 40px;
    border: 2px solid black;
    border-radius: 5px;
    display: none;
    margin: 5px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    display: flex;
}
.linea{
    background-color: black;
    height: 4px;
    width: 80%;
}
.align{
    align-items: center;
}
.categoria{
    height: 200px;
    width: 200px;
    border: 2px solid darkred;
    border-radius: 200px;
    margin: 5px;
    display: flex;
    justify-content: center;
}
.cat> .trigger> .row > .col-4{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cat> .trigger1> .row > .col-4{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.anime1{
    position: relative;
    right: -1300px;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.destra{
    animation-name: destra;
}
.sinistra{
    animation-name: sinistra;
}
.anime2{
    position: relative;
    left: -1300px;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.cornice{
    height: 100px;
    width: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cornice1{
    height: 54px;
    width: 54px;
    border: 3px solid darkred;
    transform: rotateZ(45deg);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bordo{
    border: 2px solid darkred;
}
.new{
    color: rgb(255, 255, 255);
    height: 30px;
    width: 80px;
    background-color: yellow;
    box-shadow: 3px 3px 7px black;
    border-radius: 40px;
    position: absolute;
    top: -10px;
    left: 225px;
    animation-name: new;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: large;
    text-shadow: 0px 0px 1px black;
}
.sconti{
    color: rgb(255, 255, 255);
    height: 30px;
    width: 80px;
    background-color: red;
    box-shadow: 3px 3px 7px black;
    position: absolute;
    top: -10px;
    left: 225px;
    animation-name: new;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: large;
    text-shadow: 0px 0px 1px black;
}
.nav_link{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hover{
    height: 0px;
    width: 0px;
    background-color: yellow;  
}
.nav_link:hover{
    text-shadow: 3px 3px black;
}
.nav_link:hover .hover{
height: 2px;
width: 100%;
background-color: yellow;
transition: 1s;
}
.user{
    border: 1px solid darkred;
    height: 100px;
    width: 100px;
}
.profilo{
    border-radius: 100px;
    height: 100%;
    width: 100%;
}
.commento{
    height: 100px;
    overflow: hidden;
}
/* commenti */
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
  .filtri{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    position: absolute;
    width: 90px;
  }
@media screen and (max-width: 400px) {
   .descrizzione_header{
    background-image: url("https://www.barbieriantiquariato.it/wp-content/uploads/2017/05/compro-antiquariato-orientale.jpg");
   }
   .media{
       display: none !important;
    }
    nav{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: end;
    width: 96%;
}
.container_panino{
    display: inline-block !important;
}
}
@keyframes destra {
    100%{
        right: 0;
    }
}
@keyframes sinistra {
    100%{
        left: 0;
    }
}
@keyframes new{
    100%{
        scale: 1.08;
    }
}
